/* base colors */
$color-blue: #3b4664;
$color-blue-light : #00decf;
$color-red: #d13f30;
$color-orange: rgb(185, 88, 32);
$color-white: rgb(255, 255, 255);
$color-grey-light: rgb(240, 240, 240);
$color-grey-dark: rgb(54, 54, 54);
$color-violet-dark: #17062a;
$color-violet-light: #56077c;
$default-dark-transparent: rgba(95, 95, 95, 0.425);
$button-bottom-color : rgba(95, 95, 95, 0.425);


